:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --pixel-size: 3;
  --pink: rgb(255, 219, 227);
  --muji: rgb(65, 0, 0);
}

/* @font-face {
  font-family: "LLPixel";
  src: local("LLPixel3")
} */

html {
  background-color: var(--pink);
  font-family: 'Symtext'
  /* , 'LLPixel', 'Impact'; */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */

}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh;
  width: 100%;
  height: 100%;
  place-content: center;
  place-items: center;
}

header {
  grid-row: 1;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(65, 0, 0);
  background-image: url('assets/images/MazeMaster_Banner.png');
  color: #fff;
  text-align: center;
  text-justify: center;
  padding: .5rem;
  margin: 0;
  font-size: 1.5rem;
}

header h1{
  padding: 0;
  margin: 0;
}

.content {
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat (3 1fr);
  grid-template-rows: repeat (3 1fr); */
  place-items: center;
  margin-top: 3rem;
}


/* Home Page */
#welcome-page {
  display: grid;
  grid-template-rows: 5rem 5rem 50rem;
  grid-template-columns: 1fr;
}

#welcome-page h2 {
  grid-row: 1;
  place-self: center;
}

.name-form {
  grid-row: 2;
  /* grid-column: 2; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 2rem;
  place-items: center;
}

.name-form input {
  border-radius: 10px;
  text-align: center;
  background-color: rgb(245, 178, 196);
}

.name-form input[type=text] {
  height: 1rem;
  width: 15rem;
  
}

.name-form input[type=text]::placeholder {
  color: rgba(19, 19, 19, 0.726);
}

.name-form input[type=submit] {
  grid-row: 2;
  height: 1.5rem;
  width: 15rem;
}

#game-preview {
  grid-row: 3;
  grid-column: 1 / -1;
  width: 37.5rem;
  height: 37.5rem;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('assets/images/MazeMaster_Preview.png');
  box-shadow: 10px 5px 5px rgb(82, 82, 82);
  opacity: 0.65;
}

/* Stage Selection */

.game-selection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: minmax(576px, 2fr) 1fr;
  place-items: center;
}

.board-selection-header {
  grid-row: 1;
  grid-column: 1 / -1;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.player-stats-container {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  justify-self: start;
  text-align: center;
  width: 25rem;
  height: 40rem;
  font-size: 1.75rem;
  border: 3px solid var(--muji);
  padding-left: 1rem;
  /* color: var(--muji) */
}

.stats-header {
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
}

.stats-list {
  display: grid;

  text-align: left;
}

.game-stats {
  grid-column: 1;
}

.stats-list .delete-btn {
  grid-column: 2;
  height: 3rem;
  width: 3rem;
  place-self: center;
  background-color: var(--muji);
  color: var(--pink);
}

.stats-list .delete-btn:hover {
  box-shadow: 5px 2px 2px rgb(82, 82, 82);
  transform: scale(1.1);
  border-color: rgb(82, 82, 82);
}

.game-boards-container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 500px));
  place-items: space-evenly;
  width: 100%;
  height: 100%;
}


.board-image {
  /* width: 576px; */
  /* min-width: 288px;
  max-width: 400px;
  min-height: 288px;
  max-height: 400px; */

  /* height: 576px; */
  border: 1px solid rgb(2, 2, 2);
  box-shadow: 5px 5px 5px rgb(82, 82, 82);
  background-color: rgb(245, 235, 235);
  width: 500px;
  height: 500px;
  object-fit: contain;
}


.game-boards-container img:hover {
  box-shadow: 10px 5px 5px rgb(82, 82, 82);
  background-color:rgb(182, 182, 182);
  opacity:0.75;
  border-radius:10px;
}

/* Game Screen */

.game-screen {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 1fr 2rem;
  place-items: center;
}

.timer-container {
  grid-row: 3;
  font-size: large;
  font-weight: bold;
  place-self: center;
}

.score-container {
  grid-row: 3;
  font-size: large;
  font-weight: bold;
  place-self: center;
}

.game-screen button {
  /* background-color: var(--muji); */
  color: #fff;
  border-radius:10px;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
}

.game-screen button:hover {
  box-shadow: 8px 5px 5px rgb(82, 82, 82);
  transform: scale(1.1);
  border-color: rgb(82, 82, 82);
}

.start-game {
  background-image: url('assets/images/MazeMaster_Play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.quit-game {
  background-image: url('assets/images/MazeMaster_Quit.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.start-button-container {
  grid-row: 1;
  grid-column: 1 / -1;
  width: 6rem;
  height: 2rem;

}

.container {
  display: grid;
  grid-row: 2;
  grid-column: 1 / -1;
  grid-template-rows: repeat(var(--grid-rows), 48px);
  grid-template-columns: repeat(var(--grid-cols), 48px);
  background-repeat: no-repeat;
}

.grid-item {
  display: grid;
  place-content: center;
  padding: 1em;
  border: 1px solid var(--muji);
}

.grid-item.goal {
  /* background-image: url("https://www.vhv.rs/dpng/d/334-3340211_mario-flag-pixel-art-hd-png-download.png"); */
  background-image: url("assets/images/door.png")!important;
  /* background-image: url("MazeMaster_Flag.png"); */
  /* background-size: contain; */
  /* overflow: hidden; */
}

/* .grid-item.goal img {
  width: 45px;
  height: 45px;
  position: relative;
  place-self: center;
} */

.grid-item.allowed {
  background-color: rgb(245, 235, 235);
  /* background-image: url("grey-brick-floor-tile.png"); */
  /* background-image: url("brick-floor-tile.png"); */
  /* background-image: url("grass-floor-tile.png"); */
}

.grid-item.not-allowed {
  background-color: var(--muji);
  /* background-image: url("red-wall-tile.png"); */
  /* background-image: url("blue-wall-tile.png"); */
}

.Character {
  display: grid;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin-bottom: 2.5em;
  z-index:1;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
  
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
      transform: translate3d(0px,0,0)
  }
  to {
      transform: translate3d(-100%,0,0)
  }
}

.obstacle, .trophy {
  overflow: hidden;
}

.obstacle img {
  width: 40px;
  height: 40px;
  position: relative;
  place-self: center;
}

.trophy img {
  width: 40px;
  height: 40px;
  position: relative;
  place-self: center;

  /* animation: moveSpritesheet 1s steps(4) infinite;
  width: 136px;
  height: 40px;
  position: relative; */
}

/* .trophy-container {
  display: grid;
  width: 40px;
  height:40px;
  overflow: hidden;
  position: relative;
} */




