:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 48px);
    grid-template-columns: repeat(var(--grid-cols), 48px);
    /* background-image: url('https://www.theedkins.co.uk/jo/maze/design/drmaze3.gif'); */
    /* background-image: url('test-maze.png'); */
    background-repeat: no-repeat;
    /* justify-items: center;
    align-items: center; */
    /* margin-top: 1rem; */
    
  }

  .maze-image {
    position: absolute;
    opacity: 0.5;
  }

  .trophy-image {
    position: absolute;
    opacity: 0.5;
  }
  
  .grid-item {
    display: grid;
    place-content: center;
    padding: 1em;
    border: 1px solid rgb(105, 0, 0);
    color: pink
    /* text-align: center; */
  }


  :root {
  --pixel-size: 3;
  }


  .Character {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    /* align-items: center;
    justify-items: center; */
    margin-bottom: 2.5em;
  }

  .Character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
    
  }
  .Character_shadow {
    position: absolute;
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
  }

  .pixelart {
    image-rendering: pixelated;
  }

  .face-right {
    top: calc(-32px * var(--pixel-size));
  }
  .face-up {
    top: calc(-64px * var(--pixel-size));
  }
  .face-left {
    top: calc(-96px * var(--pixel-size));
  }


  @keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
  }



